.ql-toolbar.ql-snow + .ql-container.ql-snow {
  min-height: 200px;
}

.jsgrid-grid-header, .jsgrid-grid-body{
  overflow: auto;
}

.swal-footer {
  text-align: center;
}

.dataTables_wrapper .dataTable .btn {
  padding: 0.3125rem 0.75rem;
}

div.dataTables_wrapper div.dataTables_length select {
  padding: 0.875rem 1.5rem 0.875rem 0.875rem;
}

select.form-control {
  color: #495057;
}

.form-group legend{
  font-size: 0.813rem;
  line-height: 1.4rem;
  margin-top:10px;
}

.select2-container {
  width: 100% !important;
}
.select2-container--default .select2-selection--single {
  border-color: #f6f2f2;
  border-radius: unset;
}
.select2-container .select2-selection--single {
  height:auto;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top:15px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  line-height:22px;
  padding-left:0;
}

.datepicker {
  border-radius:0;
}

.CodeMirror {
  height:200px;
  min-height:unset;
}
.CodeMirror pre {
  color: #495057;
}

.response-selector input{
  margin:0;padding:0;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  visibility:hidden;
}

span.mp-date-format {
  color: #b8b8b8;
  font-size: 0.75rem;
  margin: auto 20px;
}

.response-selector input:active +.drinkcard-cc{
  -webkit-box-shadow: 0px 0px 0px 5px rgba(0,0,0,1);
  -moz-box-shadow:  0px 0px 0px 5px rgba(0,0,0,1);
  box-shadow:  0px 0px 0px 5px rgba(0,0,0,1);
  width: 100px;
  height: 100px;
  border: solid 1px #555;
  background-color: #eed;
  border-radius: 100px;
}

.response-selector input:checked +.drinkcard-cc{  
  -webkit-box-shadow: 0px 0px 0px 5px rgba(0,0,0,1);
  -moz-box-shadow:  0px 0px 0px 5px rgba(0,0,0,1);
  box-shadow:  0px 0px 0px 5px rgba(0,0,0,1);
  width: 100px;
  height: 100px;
  border: solid 1px #555;
  background-color: #eed;
  border-radius: 100px;
}

.drinkcard-cc{
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  width:100px;
  height:100px;
  padding:10px;
  margin: 0 10px 0 10px;
}

#table-listing {
  width:100% !important;
}

.response-bottom{
  text-align: center;
}

.overlay{
  opacity:0.8;
  background-color:#ffffff;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:9999;
  visibility: hidden;
}

div.overlay img {
  position: absolute;
  top: calc(50% - (256px / 2));
  left: calc(50% - (256px / 2));
}

.select2-container .select2-selection--single {
  height: 51px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice:nth-child(5n+1) {
  background: #25378b;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice:nth-child(5n+2) {
  background: #25378b;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice:nth-child(5n+3) {
  background: #25378b;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice:nth-child(5n+4) {
  background: #25378b;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice:nth-child(5n+5) {
  background: #25378b;
}

#mp-loading {
  background: #ffffff;
  opacity: 0.5;
  cursor:auto;
  width: 100%;
  height: 100%;
  z-index:15;
 
  /* Positioning */
  position: absolute;
  left: 0;
  top: 0;
 }

tr.text-light td {
   color: #ffffff!important;
 }

